# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\JojoS\Desktop\3 - Vinci\BINV2140-1 Structures de données  avancé\Algo\Seance1AA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
